<div class="blue-bg app-content">
    <div class="row large-padding-left-mobile large-padding-right-mobile navi-row"><img src="img/navigation.png" /></div>
    <div class="center bold showcase-header huge-padding-bot-mobile huge-padding-top-mobile huge-padding-bot-tablet">Sign in to Planr</div>
    <div class="row form-login form-padding">
        <button id="mainLoginFormSubmit" class="white-button columns small-8 small-offset-2">Facebook Login</button>
    </div>
    <div class="row white-text">
        Or login with your <a href="#login"><span class="login-highlight">Planr Account</span></a>.
    </div>
    <div class="versioning">alpha 0.1</div>
</div>