<div class="blue-bg app-content">
    <div class="row large-padding-left-mobile large-padding-right-mobile navi-row"><img src="img/navigation.png" /></div>
    <div class="center bold showcase-header huge-padding-bot-mobile large-padding-top-mobile large-padding-bot-tablet">Sign in to Planr</div>
    <div class="row form-login form-padding">
            <input type="text" id="mainLoginFormUsername" placeholder="Username" value=""/>
            <input type="password" id="mainLoginFormPassword" placeholder="Password" class="password" value="" />
            <button id="mainLoginFormSubmit" class="white-button columns small-8 small-offset-2">login</button>
    </div>
    <div class="row white-text">
        Or login with your <a href="#fblogin"><span class="login-highlight">Facebook</span></a> Account.
    </div>
    <div class="versioning">alpha 0.1</div>
</div>