<div class="app-header-test-container">
    <div class="app-header-b"></div>
    <div class="app-header-lb"></div>
    <div class="row app-header-test">
        <div class="columns small-2 top-icon menu"></div>
        <div class="columns small-8 page-title">Plan<span class="yellow">r</span></div>
        <!-- <div id="onlineCount" class="columns small-2 top-icon online"><div class="online-inner">2</div></div>-->
        <div class="columns small-2 top-icon search"></div>
    </div>
</div>
<div class="padder-fixer"></div>
<div class="row app-bg-white container-fluid page-host" data-bind="router: { transition:'entrance', cacheViews:false }">
</div>
